{
    -webkit-box-sizing: border-box
;
    -moz-box-sizing: border-box
;
    box-sizing: border-box
;
}
/* Default styles (light mode) */
body {
    background-color: white;
    color: black;
}

.grid {
    max-width: 80%;
    margin: 5px auto;
}
.grid-item-centered {
    margin: auto;
    width: 35%;
    padding: 10px;
}
.grid-item {
    width: 50%;
}
.grid-item--width2 {
    width: 100%;
}

ul {
    list-style: none;
    margin: 1em 0;
}

ul li {
    margin: 0;
    padding: 3px 10px 5px 20px;
    color: #fec425;
}

ul li:hover {

    background-color: #fec425;
}

h3 {
    text-align: center;
}

a:hover {
    color: #333333;
}

a {
    color: #333333;
    font-size: small;
    font-family: Century Gothic, sans-serif;
}

.authorName {
    color: #DAD1D1;
    font-size: 55%;
}
ul li:hover > a {
    color: #333333;
}

ul li:hover > .authorName {
    color: #333333;
}

.authorName:hover {
    color: #333333;
}

.stale {
    color: #DAD1D1;
    font-size: x-small;
}

#lastModifiedDate {
    font-size: large;
    margin: 2px;
}

.remainingTime {
    font-size: small;
    margin: 20px;
}

.alert {
    background-color: red;
}


/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    a:hover {
        color: #ffffff;
    }

    a {
        color: #ffffff;
        font-size: small;
        font-family: Century Gothic, sans-serif;
    }

    .authorName {
        color: #DAD1D1;
        font-size: 55%;
    }

    ul li:hover > a {
        color: #fbb215;
    }

    ul li:hover > .authorName {
        color: #fbb215;
    }

    .authorName:hover {
        color: #fbb215;
    }

    .stale {
        color: #535151;
        font-size: x-small;
    }

    #lastModifiedDate {
        font-size: large;
        margin: 2px;
    }

    .remainingTime {
        font-size: small;
        margin: 20px;
    }

    .alert {
        background-color: red;
    }
}