.grid {
    max-width: 80%;
    margin: 0 auto;
}
.grid-item {
    width: 50%;
}

ul {
    list-style: none;
    margin: 1em 0;
}

ul li {
    margin: 0;
    padding: 3px 10px 5px 20px;
    color: #fec425;
}

li {
    /*display:block;*/
    float:left;
}

ul li:hover {
    color: #fec425;
    background-color: #fec425;

}

h3 {
    text-align: center;
}

a:hover {
    color: #333333;
}

a {
    color: #333333;
    font-size: small;
    font-family: Century Gothic, sans-serif;
}

.stale {
    color: #DAD1D1;
}

#lastModifiedDate {
    font-size: large;
    margin: 2px;
}

.remainingTime {
    font-size: small;
    margin: 20px;
}

.alert {
    background-color: red;
}
